*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: gilroy;
}

main{
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    min-height: 70vh;
    width: 400px;
}


.input-field{
    width: 100%;
    display: flex;
    gap: 15px;
    margin-bottom: 60px;
}

.input-field input{
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
}

.input-field button{
    border: none;
    background-color: #dadada;
    width: 30%;
    height: 40px;
    border-radius: 5px;
}

.list li{
    list-style-type: none;
    padding: 14px 0px ;
    margin: 5px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list li span{
    background-color: #dadada;
    padding: 11px 24px;
    font-size: 16px;
    border-radius: 5px;
    text-transform: capitalize;
}